<div class="container">
  <form [formGroup]="converterForm" >
      <fieldset>
          <legend>Converter</legend>
          <p>Converts Excel columns designations to number and vice-versa.</p>
          <div class="wrapper">
          <p>
            <label for="exelColumn">Letters to number: </label>
            <input type="text"  formControlName="exelColumn" id="exelColumn" (input)='onAlphabetChange($event.target.value)'  placeholder="ABC"/>
          </p>
          <p>
            <label for="resultOfNumber">Result: </label>
            <input type="text" formControlName="resultOfNumber" id="resultOfNumber" [value]="currentNumberValue" readonly />
          </p>
          <p>
            <input type="button" value="Reset" (click)="clearLeterToNumber()">
          </p>
        </div>
        <div class="danger" *ngIf='f.exelColumn.errors?.pattern'>
            It must contain from 1 to 20 letter!
        </div>
        <div class="wrapper">
          <p>
            <label for="num">Number to letters:  </label>
            <input type="number" formControlName="num" id="num" (input)='onNumberChange($event.target.value)' min='1' placeholder="123"/>
          </p>
            <p>
            <label for="resultOfLetter">Result: </label>
            <input type="text" formControlName="resultOfLetter" id="resultOfLetter" [value]="currentAlphabetValue" readonly />
          </p>
          <p>
            <input type="button" value="Reset" (click)="clearNumberToLeter()">
          </p>
        </div>
        <div class="danger" *ngIf='f.num.errors?.maxlength'>
            It must contain from 1 to 20 digit!
        </div>
        <div class="danger" *ngIf='f.num.errors?.min'>
            Min value must be 1!
        </div>
      </fieldset>
  </form>
</div>

